on:
  push:
    branches: [master]
name: Deploy to DigitalOcean Serverless
env:
  NOTION_DATABASE_ID: ${{ secrets. NOTION_DATABASE_ID }}
  NOTION_API_KEY: ${{ secrets.NOTION_API_KEY }}
  BOT_API_TOKEN: ${{ secrets.BOT_API_TOKEN }}

jobs:
  deploy:
    name: Deploy to DigitalOcean
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      deployments: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install doctl
        uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}
      - name: Deploy to DigitalOcean Serverless
        run: |
          doctl serverless deploy .
